bcrypt==3.2.2
cffi==1.15.0
click==7.1.2
cycler==0.11.0
fonttools==4.33.3
greenlet==1.1.2
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pycparser==2.21
pyparsing==3.0.9
PyQt6==6.1.0
pyqt6-plugins==6.1.0.2.2
PyQt6-Qt6==6.3.0
PyQt6-sip==13.3.1
pyqt6-tools==6.1.0.3.2
PySide2==5.15.2.1
python-dateutil==2.8.2
python-dotenv==0.20.0
qt6-applications==6.1.0.2.2
qt6-tools==6.1.0.1.2
shiboken2==5.15.2.1
six==1.16.0
SQLAlchemy==1.4.39
winreglib==0.1.0
Flask-SQLAlchemy==2.5.1
